body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f7f7;
  color: #333;
}

header {
  background: #5c8a5c;
  color: white;
  padding: 30px;
  text-align: center;
}

nav {
  background: #eee;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

section {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

.animal {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
}
.button {
  display: inline-block;
  background: #6f9e6e;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}
